/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
  Madrid - Portfolio Template
  Author : Tavonline
  Copyright 2018

/* Table of Content
==================================================
  
  1. Body and Core Css
  2 Portfolio Section
  3 About Section
  4 Contact Section
  5 Footer
  6 Single Work
  7 Responsive

/*------------------------ 1 Body and Core Css ------------------------*/

@import "my_style";

body {
    font-family: 'Poppins', sans-serif;
    background: #1d1d1d;
    &.blue {
      background: #0f1d42;
    }
  }
  
  p {
    color: #868686;
  }
  
  a:focus {
    outline: 0;
  }
  
  .line {
    height: 1px;
    opacity: .5;
    background: -moz-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252, 43, 0, 1)), color-stop(100%, rgba(89, 61, 213, 1)));
    background: -webkit-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    background: linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593dd5', endColorstr='#fc2b00',GradientType=1 );
  }
  
  /* Margins */
  
  .top_15 {
    margin-top: 15px;
  }
  
  .top_30 {
    margin-top: 30px;
  }
  
  .top_45 {
    margin-top: 45px;
  }
  
  .top_60 {
    margin-top: 60px;
  }
  
  .top_90 {
    margin-top: 90px;
  }
  
  .top_120 {
    margin-top: 120px;
  }
  
  .padding_30 {
    padding: 30px 0;
  }
  
  .padding_45 {
    padding: 45px 0;
  }
  
  .padding_60 {
    padding: 60px 0;
  }
  
  .padding_90 {
    padding: 90px 0;
  }
  
  .bottom_15 {
    margin-bottom: 15px;
  }
  
  .bottom_30 {
    margin-bottom: 30px;
  }
  
  .bottom_45 {
    margin-bottom: 45px;
  }
  
  .bottom_60 {
    margin-bottom: 60px;
  }
  
  .bottom_90 {
    margin-bottom: 90px;
  }
  
  .bottom_120 {
    margin-bottom: 120px;
  }
  
  .padbot_15 {
    padding-bottom: 15px;
  }
  
  .padbot_30 {
    padding-bottom: 30px;
  }
  
  .padbot_45 {
    padding-bottom: 45px;
  }
  
  .padbot_60 {
    padding-bottom: 60px;
  }
  
  .wrapper {
    position: relative;
    z-index: 1;
  }
  
  .hero {
    /* background: url(../img/home.jpg) center center; */
    background-size: cover;
    display: table;
    width: 100%;
    top: 0;
    position: fixed;
    height: 100%;
    &.about {
      /* background: url(../img/about-promo.jpg) center center; */
      background-size: cover;
      display: table;
      width: 100%;
      top: 0;
      position: fixed;
      height: 100%;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
      }
      .hero-inner p {
        color: #ffffff;
        font-size: 19px;
        opacity: 0.8;
      }
      .line-scroll .line {
        opacity: 1;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      z-index: 1;
    }
  }
  
  /*About Page*/
  
  .blue .hero:before {
    background-color: rgba(15, 29, 66, 0.9);
  }
  
  .hero {
    &.contact {
      background: url(../img/contact.jpg) center center;
      background-size: cover;
      display: table;
      width: 100%;
      top: 0;
      position: fixed;
      height: 100%;
    }
    .hero-inner {
      position: relative;
      z-index: 4;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      h1 {
        font-size: 80px;
        font-weight: 600;
        letter-spacing: 0;
        margin-bottom: 30px;
        line-height: 72px;
        color: #ffffff;
      }
      p {
        color: #ffffff;
        font-size: 19px;
        opacity: 0.6;
        line-height: 34px;
      }
    }
  }
  
  /*Header*/
  
  .hamburger {
    position: relative;
    z-index: 10;
  }
  
  header {
    padding: 25px;
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    .logo {
      width: 150px;
    }
  }
  
  #nav-icon {
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #ffffff;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
    }
    &:hover span:nth-child(3) {
      width: 100%;
    }
    span {
      &:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(2) {
        top: 7px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
      }
      &:nth-child(3) {
        top: 14px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
        width: 60%;
        right: 0 !important;
      }
    }
    &.open {
      span {
        &:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -3px;
          left: 8px;
        }
        &:nth-child(2) {
          width: 0%;
          opacity: 0;
        }
        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 15px;
          left: 8px;
          width: 100%;
        }
      }
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    width: 25px;
    height: 18px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  
  /* Preloader */
  
  #preloader {
    background: -moz-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252, 43, 0, 1)), color-stop(100%, rgba(89, 61, 213, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* ie10+ */
    background: linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593dd5', endColorstr='#fc2b00',GradientType=1 );
    /* ie6-9 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: table;
    text-align: center;
  }
  
  .spinner {
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
  
  @-webkit-keyframes uil-ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0 0 0 0;
    }
  
    33% {
      width: 44%;
      height: 44%;
      margin: -22% 0 0 -22%;
      opacity: 1;
    }
  
    100% {
      width: 88%;
      height: 88%;
      margin: -44% 0 0 -44%;
      opacity: 0;
    }
  }
  
  
  @-webkit-keyframes uil-ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0 0 0 0;
    }
  
    33% {
      width: 44%;
      height: 44%;
      margin: -22% 0 0 -22%;
      opacity: 1;
    }
  
    100% {
      width: 88%;
      height: 88%;
      margin: -44% 0 0 -44%;
      opacity: 0;
    }
  }
  
  
  @-moz-keyframes uil-ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0 0 0 0;
    }
  
    33% {
      width: 44%;
      height: 44%;
      margin: -22% 0 0 -22%;
      opacity: 1;
    }
  
    100% {
      width: 88%;
      height: 88%;
      margin: -44% 0 0 -44%;
      opacity: 0;
    }
  }
  
  
  @-ms-keyframes uil-ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0 0 0 0;
    }
  
    33% {
      width: 44%;
      height: 44%;
      margin: -22% 0 0 -22%;
      opacity: 1;
    }
  
    100% {
      width: 88%;
      height: 88%;
      margin: -44% 0 0 -44%;
      opacity: 0;
    }
  }
  
  
  @-moz-keyframes uil-ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0 0 0 0;
    }
  
    33% {
      width: 44%;
      height: 44%;
      margin: -22% 0 0 -22%;
      opacity: 1;
    }
  
    100% {
      width: 88%;
      height: 88%;
      margin: -44% 0 0 -44%;
      opacity: 0;
    }
  }
  
  
  @-webkit-keyframes uil-ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0 0 0 0;
    }
  
    33% {
      width: 44%;
      height: 44%;
      margin: -22% 0 0 -22%;
      opacity: 1;
    }
  
    100% {
      width: 88%;
      height: 88%;
      margin: -44% 0 0 -44%;
      opacity: 0;
    }
  }
  
  
  @-o-keyframes uil-ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0 0 0 0;
    }
  
    33% {
      width: 44%;
      height: 44%;
      margin: -22% 0 0 -22%;
      opacity: 1;
    }
  
    100% {
      width: 88%;
      height: 88%;
      margin: -44% 0 0 -44%;
      opacity: 0;
    }
  }
  
  
  @keyframes uil-ripple {
    0% {
      width: 0;
      height: 0;
      opacity: 0;
      margin: 0 0 0 0;
    }
  
    33% {
      width: 44%;
      height: 44%;
      margin: -22% 0 0 -22%;
      opacity: 1;
    }
  
    100% {
      width: 88%;
      height: 88%;
      margin: -44% 0 0 -44%;
      opacity: 0;
    }
  }
  
  
  .uil-ripple-css {
    background: none;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    div {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      width: 0;
      height: 0;
      opacity: 0;
      border-radius: 50%;
      border-width: 12px;
      border-style: solid;
      -ms-animation: uil-ripple 2s ease-out infinite;
      -moz-animation: uil-ripple 2s ease-out infinite;
      -webkit-animation: uil-ripple 2s ease-out infinite;
      -o-animation: uil-ripple 2s ease-out infinite;
      animation: uil-ripple 2s ease-out infinite;
      &:nth-of-type(1) {
        border-color: #fff;
      }
      &:nth-of-type(2) {
        border-color: #fff;
        -ms-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -webkit-animation-delay: 1s;
        -o-animation-delay: 1s;
        animation-delay: 1s;
      }
    }
  }
  
  /* full menu */
  
  .nav {
    height: 100%;
    width: 100%;
    position: fixed;
    display: table;
    top: 0;
    z-index: 2;
    background: -moz-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252, 43, 0, 1)), color-stop(100%, rgba(89, 61, 213, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* ie10+ */
    background: linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593dd5', endColorstr='#fc2b00',GradientType=1 );
    /* ie6-9 */
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
    visibility: hidden;
    &.open {
      opacity: 1;
      visibility: visible;
    }
    ul.menu {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0;
      li {
        opacity: 0;
        list-style: none;
        -ms-transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -o-transition: translateY(20px);
        transform: translateY(20px);
      }
    }
    &.open ul.menu li {
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -o-transition: translateY(0px);
      a {
        font-size: 34px;
        font-weight: 600;
        color: #fff;
        transition: font-size 0.5s;
        text-decoration: none;
        letter-spacing: -1px;
        line-height: 60px;
        &:hover {
          font-size: 36px;
          opacity: 0.8;
          transition: font-size 0.5s, opacity 0.5s;
        }
      }
      &:nth-child(1) {
        transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
        -webkit-transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
        -moz-transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
      }
      &:nth-child(2) {
        transition: opacity 0.7s 0.7s, transform 0.7s 0.7s;
        -webkit-transition: opacity 0.7s 0.7s, transform 0.7s 0.7s;
        -moz-transition: opacity 0.7s 0.7s, transform 0.7s 0.7s;
      }
      &:nth-child(3) {
        transition: opacity 0.9s 0.9s, transform 0.9s 0.9s;
        -webkit-transition: opacity 0.9s 0.9s, transform 0.9s 0.9s;
        -moz-transition: opacity 0.9s 0.9s, transform 0.9s 0.9s;
      }
      &:nth-child(4) {
        transition: opacity 1.1s 1.1s, transform 1.1s 1.1s;
        -webkit-transition: opacity 1.1s 1.1s, transform 1.1s 1.1s;
        -moz-transition: opacity 1.1s 1.1s, transform 1.1s 1.1s;
      }
      &:nth-child(5) {
        transition: opacity 1.3s 1.3s, transform 1.3s 1.3s;
        -webkit-transition: opacity 1.3s 1.3s, transform 1.3s 1.3s;
        -moz-transition: opacity 1.3s 1.3s, transform 1.3s 1.3s;
      }
      &:nth-child(6) {
        transition: opacity 1.5s 1.5s, transform 1.5s 1.5s;
        -webkit-transition: opacity 1.5s 1.5s, transform 1.5s 1.5s;
        -moz-transition: opacity 1.5s 1.5s, transform 1.5s 1.5s;
      }
      &:nth-child(7) {
        transition: opacity 1.7s 1.7s, transform 1.7s 1.7s;
        -webkit-transition: opacity 1.7s 1.7s, transform 1.7s 1.7s;
        -moz-transition: opacity 1.7s 1.7s, transform 1.7s 1.7s;
      }
    }
    ul.menu li.social {
      margin-top: 60px;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      -o-transition: translateY(0px);
      transform: translateY(0px);
    }
    &.open ul.menu li.social {
      a {
        font-size: 14px;
        margin-right: 15px;
        &:last-child {
          margin-right: 0px;
        }
      }
      transition: opacity 1.5s 1.5s, transform 1.5s 1.5s;
      -webkit-transition: opacity 1.5s 1.5s, transform 1.5s 1.5s;
      -moz-transition: opacity 1.5s 1.5s, transform 1.5s 1.5s;
    }
    .menu li {
      &.hassub i {
        width: 30px;
        height: 51px;
        margin-left: 4px;
        line-height: 55px;
        cursor: pointer;
        color: #fff;
        position: absolute;
      }
      .submenu {
        display: none;
        font-size: 15px;
        padding: 0;
        li a {
          font-size: 16px !important;
          font-weight: 400;
          letter-spacing: 0;
          line-height: 34px !important;
          opacity: 0.7;
          &:hover {
            font-size: 17px;
            transition: font-size 0.5s, opacity 0.5s;
          }
        }
      }
    }
  }
  
  /*Social Icons*/
  
  /* Submenu */
  
  /* Line Scroll */
  
  #line-scroll.animate {
    opacity: 1;
  }
  
  .line-scroll {
    width: 2px;
    height: 0px;
    left: 50%;
    bottom: 0;
    margin-left: -1px;
    overflow: hidden;
    margin-top: 30px;
    .line {
      &.active {
        -webkit-animation: line-scroll 2.5s ease-in-out forwards infinite;
        animation: line-scroll 2.5s ease-in-out forwards infinite;
      }
      opacity: .8;
      top: auto;
      z-index: 11;
      display: block;
      position: absolute;
      left: 50%;
      width: 1px;
      height: 80px;
      margin-left: -1px;
      background: rgba(255, 255, 255, 1);
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
      background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
      background-size: 100% 200%;
      background-position: 0 -60px;
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
      background-size: 100% 200%;
      background-position: 0 -80px;
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
    }
  }
  
  @-webkit-keyframes line-scroll {
    0% {
      background-position: 0 -80px;
    }
  
    80% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 0 80px;
    }
  }
  
  
  @keyframes line-scroll {
    0% {
      background-position: 0 -80px;
    }
  
    80% {
      background-position: 0 0;
    }
  
    100% {
      background-position: 0 80px;
    }
  }
  
  
  /*------------------------ 2 Portfolio Section ------------------------*/
  
  .page-title {
    span {
      color: #808080;
      font-size: 15px;
      letter-spacing: 3px;
    }
    .title {
      font-size: 30px;
      color: #fff;
      line-height: 40px;
      margin: 2px 0 20px 0;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
      background-image: linear-gradient(to right, #593dd5, #fc2b00);
    }
  }
  
  .portfolio-filter ul {
    padding-left: 30px;
    li {
      font-size: 16px;
      color: #a9a9a9;
      list-style: none;
      line-height: 40px;
      cursor: pointer;
    }
  }
  
  .select-cat {
    color: #fff !important;
  }
  
  .port img {
    width: 100%;
  }
  
  .single_item {
    margin-bottom: 30px;
    figure {
      position: relative;
      float: left;
      overflow: hidden;
      width: 100%;
      color: #000;
      text-align: left;
      font-size: 16px;
      background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
      background-image: linear-gradient(to right, #593dd5, #fc2b00);
      * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
      }
      &:hover img {
        zoom: 1;
        filter: alpha(opacity = 40);
        -webkit-opacity: .4;
        opacity: .4;
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
      figcaption {
        z-index: 1;
        padding-left: 20px;
        padding-top: 47%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
  
  .single-item figure:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .single_item {
    figure {
      &:after {
        content: '';
        background-color: rgba(255, 255, 255, 0.65);
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        opacity: 0;
      }
      figcaption h3 {
        line-height: 1.1em;
        font-size: 22px;
        opacity: 0;
        width: 100%;
        padding: 0;
        color: #fff;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
      }
      p {
        font-size: 11px;
        font-weight: 300;
        letter-spacing: 1px;
        opacity: 0;
        top: 50%;
        color: #ffffffbd;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
      }
      figcaption:hover {
        h3, p {
          -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
          opacity: 1;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  
  .isotope_items {
    min-height: 2000px;
  }
  
  /*------------------------ 3 About Section ------------------------*/
  
  .about {
    .image {
      &:before {
        content: '';
        width: 100%;
        background: #2a2a2a;
        width: 93%;
        height: 100%;
        position: absolute;
        z-index: -1;
        margin: 44px -27px;
        left: 0;
      }
      img {
        width: 100%;
        box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.45);
        -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.45);
        -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.45);
      }
    }
    .about-text p {
      font-size: 15px;
      color: #868686;
      line-height: 28px;
      margin-top: 30px;
    }
  }
  
  .about-text p b {
    color: #ffffff;
  }
  
  .work-areas .area {
    .icon {
      width: 20%;
      float: left;
      i {
        display: inline-block;
        margin-top: -8px;
        &:before {
          font-size: 45px;
          margin-left: 5px;
          color: #565657;
        }
      }
    }
    .text {
      width: 80%;
      float: left;
      p {
        font-size: 13px;
        line-height: 24px;
        color: #959595;
      }
      h6 {
        font-size: 15px;
        letter-spacing: 2px;
        margin-bottom: 8px;
        color: #ffffff;
      }
    }
  }
  
  .owl-theme .owl-controls {
    .owl-page span {
      width: 8px;
      height: 8px;
    }
    margin-top: 45px;
  }
  
  /*------------------------  4 Contact Section ------------------------*/
  
  .contact {
    .contact-info ul {
      padding: 0;
      li {
        font-size: 14px;
        color: #fff;
        opacity: .5;
        list-style: none;
        line-height: 30px;
      }
    }
    .social a {
      color: #fff;
      margin-right: 15px;
      text-decoration: none;
      &:hover {
        opacity: .7;
        transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
      }
    }
  }
  
  .page-title.sub {
    text-align: right;
    float: right;
    .title {
      font-size: 23px;
      line-height: 30px;
      padding-bottom: 15px;
      color: #fff;
    }
  }
  
  .form-inp {
    width: 100%;
    height: 45px;
    border: 0;
    color: #dfdfdf5e;
    border-bottom: solid 1px #dfdfdf5e;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    background: none;
    &:focus {
      outline: 0;
      border-bottom: solid 1px #dfdfdf91;
    }
  }
  
  .contact-form textarea {
    width: 100%;
    border: 0;
    border-bottom: solid 1px #dfdfdf5e;
    font-size: 13px;
    padding: 20px 0 0 10px;
    height: 119px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    background: none;
    &:focus {
      outline: 0;
      border-bottom: solid 1px #dfdfdf91;
    }
  }
  
  .sitebtn {
    margin: auto;
    margin-top: 30px;
    display: block;
    border: solid 2px #dfdfdf36;
    background: none;
    font-size: 13px;
    padding: 9px 11px;
    text-align: left;
    min-width: 140px;
    line-height: 17px;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    color: #fff;
    &:hover {
      -webkit-transition: background-color 0.3s linear;
      -moz-transition: background-color 0.3s linear;
      -o-transition: background-color 0.3s linear;
      transition: background-color 0.3s linear;
      background: #fff;
      color: #000;
      &:after {
        color: #000;
      }
    }
    &:after {
      font-family: FontAwesome;
      content: "\f178";
      color: #fff;
      float: right;
    }
  }
  
  /*------------------------ 5 Footer  ------------------------*/
  
  footer {
    width: 100%;
    bottom: 0;
    background: #212121;
    min-height: 100px;
    padding-top: 44px;
    color: #919191;
    font-size: 13px;
    position: relative;
    z-index: 1;
  }
  
  .blue footer {
    background: #030d27;
  }
  
  footer {
    &:before {
      content: '';
      position: absolute;
      opacity: 0.4;
      width: 100%;
      height: 1px;
      top: 0;
      background: -moz-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      /* ff3.6+ */
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252, 43, 0, 1)), color-stop(100%, rgba(89, 61, 213, 1)));
      /* safari4+,chrome */
      background: -webkit-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      /* safari5.1+,chrome10+ */
      background: -o-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      /* opera 11.10+ */
      background: -ms-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      /* ie10+ */
      background: linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      /* w3c */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593dd5', endColorstr='#fc2b00',GradientType=1 );
      /* ie6-9 */
    }
    .socials a {
      color: #919191;
      margin-right: 15px;
      text-decoration: none;
    }
    .footer-logo {
      margin-right: 30px;
      margin-top: -7px;
      img{
          width: 150px;
      }
    }
    .socials a:hover {
      color: #fff;
      transition: color 0.3s;
    }
    .copyright span {
      color: #fff;
    }
  }
  
  /*------------------------ 6 Single Work ------------------------*/
  
  .work-video iframe {
    width: 100%;
    min-height: 550px;
  }
  
  .hero {
    &.work {
      .hero-inner h1 {
        font-size: 90px;
        font-weight: 600;
        letter-spacing: -3px;
        margin-bottom: 30px;
        line-height: 102px;
        color: #fff;
      }
      background: url(../img/home.jpg) top center;
      background-size: cover;
    }
    .hero-inner p {
      color: #ffffff;
      font-size: 19px;
      opacity: 0.8;
    }
    &.work:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }
  
  .work-title {
    font-size: 50px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
    background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
    background-image: linear-gradient(to right, #593dd5, #fc2b00);
  }
  
  .big-img img {
    width: 100%;
  }
  
  a.gallery {
    display: block;
    &:focus {
      outline: 0;
    }
  }
  
  .gallery img {
    width: 100%;
  }
  
  .link {
    text-decoration: none !important;
  }
  
  .controller {
    .where {
      text-decoration: none;
      color: #5a5a5a;
      font-size: 30px;
      display: block;
      transition: all ease 0.3s;
    }
    span {
      font-size: 20px;
      color: #bbbbbb;
      transition: all ease 0.3s;
    }
    .link:hover {
      .where {
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
        background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
        background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
        background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
        background-image: linear-gradient(to right, #593dd5, #fc2b00);
        transition: all ease 0.3s;
      }
      span {
        color: #fff;
        transition: all ease 0.3s;
      }
    }
  }
  
  .cont-line {
    width: 1px;
    background: #272727;
    height: 126px;
    display: inline-block;
    margin: -26px 40px;
  }
  
  .portfolio-text {
    color: #fff;
    p {
      font-size: 18px;
      line-height: 32px;
      color: #a7a7a7;
    }
  }
  
  /*------------------------ 7 Blog Section  ------------------------*/
  
  .hero.blog-hero {
    background: url(../img/blog-hero.jpg) center center;
  }
  
  .blogs .post {
    text-align: center;
    display: grid;
    width: 100%;
    height: 100%;
    padding: 90px 0;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    &:hover {
      transition: all ease 0.3s;
    }
    .post-title {
      margin-top: 0;
      font-size: 25px;
      font-weight: 500;
      line-height: 34px;
      letter-spacing: -1px;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: -webkit-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -moz-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -ms-linear-gradient(left, #593dd5, #fc2b00);
      background-image: -o-linear-gradient(left, #593dd5, #fc2b00);
      background-image: linear-gradient(to right, #593dd5, #fc2b00);
    }
    p {
      font-size: 16px;
      color: #868686;
      line-height: 30px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .blog-info {
      font-size: 12px;
      color: #868686;
      span {
        color: #fff;
      }
    }
    img.blog-preview {
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -5;
      opacity: 0;
      transition: all ease 0.5s;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
    }
    &:before {
      background: -moz-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252, 43, 0, 1)), color-stop(100%, rgba(89, 61, 213, 1)));
      background: -webkit-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      background: -o-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      background: -ms-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      background: linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      content: '';
      opacity: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all ease 0.3s;
      left: 0;
      top: 0;
    }
    &:hover {
      &:before {
        opacity: .6;
      }
      img.blog-preview {
        opacity: 1;
        transition: all ease 0.5s;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
      }
      .post-title {
        color: #fff;
      }
      p {
        color: #fff;
        opacity: .8;
      }
      .blog-info {
        color: #fff;
      }
    }
  }
  
  .hero.blog {
    .hero-inner {
      h1 {
        font-size: 40px;
        color: #fff;
        letter-spacing: -1;
        line-height: 60px;
      }
      p {
        font-size: 16px;
      }
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: .5;
      background: -moz-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(252, 43, 0, 1)), color-stop(100%, rgba(89, 61, 213, 1)));
      background: -webkit-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      background: -o-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      background: -ms-linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      background: linear-gradient(45deg, rgba(252, 43, 0, 1) 0%, rgba(89, 61, 213, 1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#593dd5', endColorstr='#fc2b00',GradientType=1 );
    }
  }
  
  .blogs-single .article {
    font-size: 15.5px;
    line-height: 32px;
    p {
      color: #ffffff6b;
    }
  }
  
  .second-title {
    font-size: 25px;
    letter-spacing: -1px;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: -webkit-linear-gradient(45deg, rgb(89, 61, 213) 0%, rgba(252, 43, 0, 1) 28%);
    background-image: -moz-linear-gradient(45deg, rgb(89, 61, 213) 0%, rgba(252, 43, 0, 1) 28%);
    background-image: -ms-linear-gradient(45deg, rgb(89, 61, 213) 0%, rgba(252, 43, 0, 1) 28%);
    background-image: -o-linear-gradient(45deg, rgb(89, 61, 213) 0%, rgba(252, 43, 0, 1) 28%);
    background-image: linear-gradient(45deg, rgb(89, 61, 213) 0%, rgba(252, 43, 0, 1) 28%);
    &.text-center {
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      background-image: -webkit-linear-gradient(45deg, rgb(89, 61, 213) 41%, rgba(252, 43, 0, 1) 70%);
      background-image: -moz-linear-gradient(45deg, rgb(89, 61, 213) 41%, rgba(252, 43, 0, 1) 70%);
      background-image: -ms-linear-gradient(45deg, rgb(89, 61, 213) 41%, rgba(252, 43, 0, 1) 70%);
      background-image: -o-linear-gradient(45deg, rgb(89, 61, 213) 41%, rgba(252, 43, 0, 1) 70%);
      background-image: linear-gradient(45deg, rgb(89, 61, 213) 41%, rgba(252, 43, 0, 1) 70%);
    }
  }
  
  .comment {
    border-bottom: solid 1px #ffffff1c;
    padding: 45px 0px;
    &:last-child {
      border: none;
    }
    .image img {
      width: 100%;
    }
    h6 {
      font-size: 16px;
      color: #fff;
      margin-bottom: 0;
    }
    span {
      font-size: 12px;
      color: #ffffffb0;
      padding: 8px 0;
      display: inline-block;
    }
    p {
      font-size: 14.5px;
      line-height: 26px;
    }
    .reply {
      color: #873798;
      text-decoration: none;
      display: block;
      font-size: 13px;
      transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -moz-transition: all ease 0.3s;
      &:hover {
        color: #fc2b00;
        transition: all ease 0.3s;
        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
      }
    }
    &.reply {
      padding-left: 45px;
    }
  }
  
  /*------------------------ 8 Responsive  ------------------------*/
  
  @media (max-width: 991px) {
    .hero .hero-inner {
      h1 {
        font-size: 70px;
      }
      p {
        font-size: 16px;
      }
    }
    .inner-wrapper-sticky {
      position: relative !important;
      top: 0 !important;
      left: 0 !important;
    }
    .portfolio .isotope_items {
      margin-top: 60px;
    }
    .about {
      .image:before {
        background: none;
      }
      .about-text {
        margin-top: 45px;
      }
    }
    .work-video {
      margin-bottom: 0;
    }
    .hero.work .hero-inner h1 {
      font-size: 80px;
      margin-bottom: 20px;
    }
    .copyright {
      width: 100%;
      text-align: center;
    }
    .socials {
      display: none;
    }
    .isotope_items {
      min-height: auto;
    }
    .blogs-single .gallery {
      margin-bottom: 30px;
    }
    .blogs .post img.blog-preview {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .nav .menu li.hassub i {
      line-height: 51px;
    }
    .hero .hero-inner h1 {
      font-size: 65px;
      margin-bottom: 20px;
    }
    .work-title {
      font-size: 40px;
    }
    .controller .pull-left.text-left, .cont-line {
      display: none;
    }
    .controller .pull-right.text-right {
      text-align: center;
      width: 100%;
    }
    .hero.work .hero-inner h1 {
      font-size: 60px;
      margin-bottom: 10px;
    }
    .work-video iframe {
      min-height: auto;
      border: 0;
    }
    .left-filter-section {
      text-align: center;
    }
    .portfolio-filter ul, .comment.reply {
      padding-left: 0;
    }
    .hero.blog .hero-inner h1 {
      font-size: 32px;
      color: #fff;
      letter-spacing: -1;
      line-height: 50px;
    }
  }
  
  @media (max-width: 481px) {
    .nav .menu li.hassub i {
      line-height: 37px;
    }
    .hero .hero-inner {
      h1 {
        font-size: 50px;
        margin-bottom: 20px;
        line-height: 64px;
      }
      p {
        font-size: 14px;
      }
    }
    .work-title {
      font-size: 35px;
    }
    .portfolio-text p {
      font-size: 14px;
      line-height: 28px;
      color: #a7a7a7;
    }
    .hero {
      &.work .hero-inner h1 {
        font-size: 33px;
        margin-bottom: 10px;
        line-height: 64px;
        letter-spacing: -2px;
      }
      .hero-inner h1 {
        font-size: 33px;
        margin-bottom: 10px;
        line-height: 35px;
      }
    }
    .nav.open ul.menu li a {
      font-size: 24px;
      line-height: 45px;
      &:hover {
        font-size: 26px;
      }
    }
    .hero {
      &.about .hero-inner p {
        font-size: 14px;
      }
      .hero-inner p {
        padding: 0 10px;
        br {
          content: ' ';
        }
      }
    }
    .line-scroll {
      height: 40px;
      margin-top: 30px;
      .line {
        height: 30px;
      }
    }
    .hero.blog .hero-inner {
      h1 {
        font-size: 24px;
        color: #fff;
        letter-spacing: 0;
        line-height: 36px;
      }
      p {
        font-size: 13px;
      }
    }
    .blogs .post {
      p {
        font-size: 14px;
        line-height: 26px;
      }
      .post-title {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }